@import "../../../app.component.scss";
.single-item {
  box-shadow: 0 0 5px $light-gray;
  padding: 20px;
  border-radius: 5px;
  .small {
    font-size: 13px;
  }
  .semi-bold {
    font-weight: 600;
    color: $black;
  }
  .icon-container {
    padding: 20px 25px;
    border-radius: 5px;

    .icon {
      font-size: 40px;
      color: $white;
    }
  }
  @mixin dashboard-bg($first-gradient, $second-gradient) {
    background: linear-gradient(45deg, $first-gradient, $second-gradient);
  }
  .cyan {
    @include dashboard-bg(#38b8e0, #219ac0);
  }
  .pink {
    @include dashboard-bg(#ed4f84, #cb0c4d);
  }
  .green {
    @include dashboard-bg(#17c3a9, #00A78E);
  }
  .blue {
    @include dashboard-bg(#6e79c3, #3449d8);
  }
}
