<div class="row">
  <div class="col-lg-3 col-md-6 col-sm-12 my-3">
    <a routerLink="/login" class="d-flex-around single-item flex-wrap">
      <div>
        <p class="small">Communicate</p>
        <p class="semi-bold">Messages</p>
      </div>
      <div class="icon-container purple d-flex-center">
        <fa-icon [icon]="faComments" class="icon"></fa-icon>
      </div>
    </a>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-12 my-3">
    <a routerLink="/login" class="d-flex-around single-item flex-wrap">
      <div>
        <p class="small">Your Profile</p>
        <p class="semi-bold">Profile</p>
      </div>
      <div class="icon-container red d-flex-center">
        <fa-icon [icon]="faGraduationCap" class="icon"></fa-icon>
      </div>
    </a>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-12 my-3">
    <a routerLink="/login" class="d-flex-around single-item flex-wrap">
      <div>
        <p class="small">Preferences</p>
        <p class="semi-bold">Settings</p>
      </div>
      <div class="icon-container green d-flex-center">
        <fa-icon [icon]="faCog" class="icon"></fa-icon>
      </div>
    </a>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-12 my-3">
    <a routerLink="/login" class="d-flex-around single-item flex-wrap">
      <div>
        <p class="small">Performance</p>
        <p class="semi-bold">Grades</p>
      </div>
      <div class="icon-container yellow d-flex-center">
        <fa-icon [icon]="faTrophy" class="icon"></fa-icon>
      </div>
    </a>
  </div>
</div>
