<div class="row">
  <div class="col-lg-3 col-md-6 col-sm-12 my-3">
    <a class="d-flex-around single-item flex-wrap">
      <div>
        <p class="small">Communicate</p>
        <p class="bold">Messages</p>
      </div>
      <div class="img-container d-flex-center">
        <fa-icon [icon]="faComments" class="icon"></fa-icon>
      </div>
    </a>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-12 my-3">
    <a class="d-flex-around single-item flex-wrap">
      <div>
        <p class="small">Communicate</p>
        <p class="bold">Messages</p>
      </div>
      <div class="img-container d-flex-center">
        <fa-icon [icon]="faComments" class="icon"></fa-icon>
      </div>
    </a>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-12 my-3">
    <a class="d-flex-around single-item flex-wrap">
      <div>
        <p class="small">Communicate</p>
        <p class="bold">Messages</p>
      </div>
      <div class="img-container d-flex-center">
        <fa-icon [icon]="faComments" class="icon"></fa-icon>
      </div>
    </a>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-12 my-3">
    <a class="d-flex-around single-item flex-wrap">
      <div>
        <p class="small">Communicate</p>
        <p class="bold">Messages</p>
      </div>
      <div class="img-container d-flex-center">
        <fa-icon [icon]="faComments" class="icon"></fa-icon>
      </div>
    </a>
  </div>
</div>
