@import '../../../app.component.scss';
.single-item {
  box-shadow: 0 0 8px $lightgray;
  padding: 20px;
  border-radius: 5px;
  .small {
    font-size: 13px;
  }
  .bold {
    font-weight: 700;
    color: $black;
  }
  .img-container {
    background-color: #2441E7;
    padding: 20px 25px;
    border-radius: 5px;

    .icon {
      font-size: 40px;
      color: $white;
    }
  }
}

