@import '../../app.component.scss';

.main {
  margin-left: 250px;
  text-align: justify;
  padding: 20px;
  p {
    text-align: justify;
  }
  .dashboard-title {
    background-color: $rgb-gray;
    padding: 12px;
    border-radius: 5px;
    .username {
      font-weight: 600;
      margin-bottom: 0;
    }
  }

  .courses-container {
    padding: 12px;
    .side-padding-none {
      padding-left: 0px;
    }
  }
  .upcoming-activity-events {
    padding-right: 0;
  }
}


@media (max-width: 992px) {
  .main {
    margin-left: 0;
  }
}
