@import "../../../app.component.scss";
.course-activity-img {
    width: 25px;
    margin-right: 12px;
}
.content-img {
  width: 22px;
  margin-right: 12px;
}
.content-topic {
  text-transform: capitalize;
}
