@import "../../../app.component.scss";

.course-details-button {
  padding: 10px 20px;
  font-weight: 700;
  border-radius: 0;
  &:active,
  &:focus {
    box-shadow: none;
  }
}
.button-font {
  font-size: 13px;
}
.icon {
  margin: 5px;
}
.course-curriculum {
  background-color: $custom-cyan;
  color: $white;
  padding: 15px;
  font-weight: 700;
}
.curriculum-info {
  padding: 0px 23px;
}
.accordion-container {
  height: 475px;
  overflow: auto;
}
.image-video-wrp {
  height: 450px;
}
.course-title {
  font-weight: 700;
}
