@import "../../../app.component.scss";

.course-details-button {
  padding: 10px 20px;
  font-weight: 700;
  border-radius: 0;
  &:active,
  &:focus {
    box-shadow: none;
  }
}
.button-font {
  font-size: 13px;
}
.icon {
  margin: 5px;
}
.course-curriculum {
  background-color: $custom-cyan;
  color: $white;
  padding: 15px;
  font-weight: 700;
}

.curriculum-info {
  padding: 15px 23px;
  font-size: 15px;
  text-transform: capitalize;
  cursor: pointer;
  width: 100%;
  transition: 0.2s;
  display: flex;
  justify-content: flex-start;
  outline: none;
  border: 0;
  background-color: transparent;
  border-bottom: 0.1px solid $light-gray;
  &:hover,
  &:focus,
  &:active {
    background-color: $custom-cyan;
    color: $white;
    .video-lock-icon {
      color: $white;
      border: 1px solid $white;
    }
  }
}
.accordion-container {
  height: 500px;
  overflow: auto;
}
.image-video-wrp {
  height: 450px;
}
.course-title {
  font-weight: 700;
}
.video-lock-icon {
  color: $custom-cyan;
  margin-right: 10px;
  width: 24px;
  height: 21px;
  border-radius: 50%;
  border: 1px solid $custom-cyan;
  font-size: 12px;
}

.accordion {
  --bs-accordion-body-padding-y: 0rem !important;
}
