@import "../../../app.component.scss";
@import "../dashboard.component.scss";

.profile-container {
  .header {
    height: 300px;
    background-color: $custom-blue;
    .username-path {
      color: $white;
      .profile-username {
        text-transform: uppercase;
      }
      .profile-path {
        color: $white;
        cursor: pointer;
      }
    }
  }
  .profile-picture-container {
    position: relative;
    img {
      width: 150px;
      position: absolute;
      top: -80px;
      right: 50%;
      left: 50%;
      transform: translateX(-50%);
    }
  }
  .reset-customize-btns {
    padding-top: 6rem;
    button {
      text-transform: capitalize;
      &:last-child {
        margin-left: 20px;
      }
    }
  }
}



@media (max-width: 992px) {
  .reset-customize-btns {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    button {
      margin: 10px 0;
      &:last-child {
        margin-left: 0 !important;
      }
    }
  }
}
