<div class="profile-container">
  <div class="header d-flex-center">
    <div class="username-path">
      <h1 class="profile-username">MD. Iqbal Ahmed</h1>
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb d-flex-center">
          <li routerLink="/dashboard" class="breadcrumb-item profile-path">
            <a>Dashboard</a>
          </li>
          <li
            routerLink="/profile"
            class="breadcrumb-item profile-path"
            aria-current="page"
          >
            <a>Profile</a>
          </li>
        </ol>
      </nav>
    </div>
  </div>
  <div class="profile-picture-container">
    <div class="container">
      <img
        src="../../../../assets/images/man.png"
        alt="profile-picture"
        class="img-fluid"
      />
    </div>
  </div>
</div>
