<div class="profile-container">
  <div class="header d-flex-center">
    <div class="username-path">
      <h1 class="profile-username">MD. Iqbal Ahmed</h1>
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb d-flex-center">
          <li routerLink="/dashboard" class="breadcrumb-item profile-path">
            <a>Dashboard</a>
          </li>
          <li
            routerLink="/profile"
            class="breadcrumb-item profile-path"
            aria-current="page"
          >
            <a>Profile</a>
          </li>
        </ol>
      </nav>
    </div>
  </div>
  <div class="container">
    <div class="profile-picture-container">
      <img
        src="../../../../assets/images/man.png"
        alt="profile-picture"
        class="img-fluid"
      />
    </div>
    <div class="reset-customize-btns">
      <button class="button bg-blue">Reset page to default</button>
      <button class="button bg-red">
        Stop customizing page
      </button>
    </div>
    <div class="row">
      <div class="col-md-9">
        <app-user-details></app-user-details>
      </div>
      <div class="col-md-3">

      </div>
    </div>

  </div>
</div>
