@import "../../../../app.component.scss";
@import "../profile.component.scss";

.user-details-container {
  margin: 3rem 0;
}
.accordion-container {
  background-color: $accordion-bg;
  padding: 10px 20px;
  border-radius: 4px;
  margin: 20px 0;
  cursor: pointer;
  .accordion-title {
    position: relative;
  }
}

.arrow {
  position: absolute;
  border: solid $black;
  border-width: 0 1px 1px 0;
  padding: 3px;
  right: 0;
  top: 7px;
  transition: 0.3s;
}
.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
.up {
  transform: rotate(-136deg);
}

.user-details-container {
  div {
    &:last-child {
      &::before {
        height: 0;
        width: 0;
        background-color: transparent;
      }
    }
  }
}

.user-details {
  position: relative;
  margin-bottom: 70px;
  margin-top: 30px;

  &::before {
    position: absolute;
    content: "";
    background-color: $accordion-bg;
    position: absolute;
    content: "";
    background-color: $accordion-bg;
    height: 95px;
    width: 4px;
    top: 21px;
    left: 8px;
    z-index: -2;
  }
  .title {
    margin: 0 4rem;
  }
  .radio-btn {
    border-radius: 50%;
    height: 10px;
    left: 5px;
    position: absolute;
    top: 7px;
    width: 10px;
    background-color: $custom-blue;
    &::before {
      background-color: $white;
      border: 2px solid $custom-blue;
      border-radius: 50%;
      content: "";
      height: 18px;
      left: -4px;
      position: absolute;
      top: -4px;
      width: 18px;
      z-index: -1;
    }
  }
  .edit-link {
    display: block;
    color: $black;
    font-weight: 300;
    margin-top: 5px;
  }
}
