$white: white;
$black: black;
$gray: gray;
$light-gray: lightgray;
$rgb-gray: rgb(235, 235, 235);
$custom-cyan: #219ac0;
$custom-pink: #ed4f84;
$custom-green: #00a78e;
$custom-blue: #3449d8;
$accordion-bg: #edeff7;
a {
  text-decoration: none;
  color: gray;
}

p {
  margin-bottom: 0;
}

.button-container {
  .button:not(:first-child) {
    margin-left: 20px;
  }
}
.button {
  padding: 8px 20px;
  border-radius: 5px;
  background: transparent;
}
@mixin button-bg($color) {
  border: 1px solid $color;
  color: $color;
  transition: 0.3s;
  &:hover {
    background-color: $color;
    color: $white;
  }
}

.bg-green {
  @include button-bg($custom-green);
}
.bg-red {
  @include button-bg($custom-pink);
}
.bg-blue {
  @include button-bg($custom-blue);
}

.bg-red {
  background-color: $custom-pink;
  color: $white;
  &:hover {
    background-color: transparent;
    border: 1px solid $custom-pink;
    color: $custom-pink;
  }
}

.d-flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.d-flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.d-flex-around {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.input {
  border-radius: 4px;
  font-size: 14px;
  &:focus {
    box-shadow: none;
    border: 1px solid $light-gray;
  }
}
.radio-input-label {
  font-size: 14px;
}

.header {
  height: 300px;
  background-color: $custom-blue;
  .username-path,
  .course-path {
    color: $white;
    .profile-username,
    .course-title {
      text-transform: uppercase;
      text-align: center;
    }
    .path {
      color: $white;
      cursor: pointer;
    }
  }
}

.topic-title {
  font-weight: 700;
}

.padding-bottom {
  border-bottom: 0.1px solid $light-gray;
}

@media (max-width: 524px) {
  .button-container {
    .button:not(:first-child) {
      margin-left: 0px;
      margin-top: 10px;
    }
  }
  .reset-btn-container {
    margin-right: 0 !important;
  }
}

// override bootstrap css code
.accordion {
  --bs-accordion-btn-focus-border-color: #f9fafc;
  --bs-accordion-active-color: black;
  --bs-accordion-btn-focus-box-shadow: #f9fafc;
  --bs-accordion-active-bg: #f9fafc;
  --bs-accordion-border-radius: 4px;
  --bs-accordion-body-padding-x: 0;
}
