$white: white;
$black: black;
$gray: gray;
$light-gray: lightgray;
$rgb-gray: rgb(235, 235, 235);
$custom-purple: #782CEE;
$custom-red: #FF1053;
$custom-green: #00A78E;
$custom-yellow: rgb(241, 197, 40);

a {
  text-decoration: none;
  color: gray;
}

p {
  margin-bottom: 0;
}

.button-container {
  .button:not(:first-child) {
    margin-left: 20px;
  }
}
.button {
  padding: 8px 20px;
  border-radius: 5px;
  background: transparent;
}
@mixin button-bg($color) {
  border: 1px solid $color;
  color: $color;
  transition: .3s;
  &:hover {
    background-color: $color;
    color: $white;
  }
}
.bg-green {
  @include button-bg($custom-green)
}
.bg-red {
  @include button-bg($custom-red)
}

.d-flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.d-flex-center {
  display: flex;
  justify-content: space-center;
  align-items: center;
}
.d-flex-around {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

@media (max-width: 524px) {
  .button-container {
    .button:not(:first-child) {
      margin-left: 0px;
      margin-top: 10px;
    }
  }
  .reset-btn-container {
    margin-right: 0!important;
  }
}
