<div class="login-container my-3 p-4">
  <div class="container">
    <div class="row d-flex-center">
      <div class="col-md-6 form-container">
        <h5 class="text-center mb-3">Login To Your Account</h5>
        <div class="d-flex-center">
          <form
            action="post"
            (ngSubmit)="login(loginFormData)"
            class="form mt-2"
            #loginForm="ngForm"
          >

            <ng-container *ngIf="error">
              <div class="alert alert-danger alert-customization" role="alert">
                <span>{{ error.error.message }}</span>
              </div>
            </ng-container>
            <div class="mb-3">
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text input-label-img">
                    <img
                      src="../../../assets/images/mail.png"
                      alt=""
                      class="img-fluid"
                    />
                  </span>
                </div>
                <input
                  type="email"
                  name="email"
                  [(ngModel)]="loginFormData.email"
                  #loginEmail="ngModel"
                  class="form-control input"
                  placeholder="Email"
                  required
                  pattern="[a-zA-Z0-9.-_]{1,}@[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{2,}"
                  [class.is-invalid]="loginEmail.invalid && loginEmail.touched"
                />
              </div>
              <div
                *ngIf="
                  (loginEmail.invalid && loginEmail.touched) || loginEmail.dirty
                "
              >
                <small
                  *ngIf="loginEmail.errors?.['required']"
                  class="text-danger"
                  >Email is required.</small
                >
                <small
                  *ngIf="loginEmail.errors?.['pattern']"
                  class="text-danger"
                  >Please provide a valid Email address.</small
                >
              </div>
            </div>

            <div class="mb-3">
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text input-label-img">
                    <img
                      src="../../../assets//images/lock.png"
                      alt="lock"
                      class="img-fluid"
                    />
                  </span>
                </div>
                <input
                  type="password"
                  name="password"
                  [(ngModel)]="loginFormData.password"
                  #loginPassword="ngModel"
                  class="form-control input"
                  placeholder="Password"
                  required
                  minlength="6"
                  maxlength="40"
                  [class.is-invalid]="
                    loginPassword.invalid && loginPassword.touched
                  "
                />
              </div>
              <div
                *ngIf="
                  (loginPassword.invalid && loginPassword.touched) ||
                  loginPassword.dirty
                "
              >
                <small
                  *ngIf="loginPassword.errors?.['required']"
                  class="text-danger"
                  >Password is required.</small
                >
                <small
                  *ngIf="loginPassword.errors?.['minlength']"
                  class="text-danger"
                  >Password must be at least 6 characters.</small
                >
              </div>
            </div>

            <div
              class="form-check mb-3 d-flex-between flex-wrap remember-user-forget-paddword"
            >
              <div>
                <input
                  mdbCheckbox
                  class="form-check-input check-input"
                  type="checkbox"
                  [(ngModel)]="loginFormData.rememberUsername"
                  name="rememberUser"
                  id="flexCheckDefault"
                />
                <label
                  class="form-check-label remember-username"
                  for="flexCheckDefault"
                >
                  Remember Username
                </label>
              </div>

              <div>
                <a routerLink="" class="forget-password">Forgot Password?</a>
              </div>
            </div>

            <input
              type="submit"
              value="Login"
              class="input form-control"
              [disabled]="loginForm.form.invalid"
              [ngClass]="
                loginForm.form.invalid ? 'cursor-disable' : 'cursor-pointer'
              "
            />
            <p class="py-3 sign-up-link">
              No Account? <a routerLink="/registration">Sign Up</a>
            </p>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
