@import "../../../../app.component.scss";

.card {
  height: 350px;
  .card-title {
    font-size: 17px;
    font-weight: 600;
    color: $black;
  }
  .course-img {
    height: 170px;
  }
  .card-icon {
    width: 13px;
  }
  .date {
    font-size: 15px;
    color: $gray;
    margin-left: 10px;
  }
}

