<div class="my-3 p-4">
  <div class="container">
    <div class="row d-flex-center">
      <div class="col-md-6 form-container">
        <h5 class="text-center mb-3">Create New Account</h5>
        <div class="d-flex-center">
          <form
            action="post"
            (ngSubmit)="registration(registrationFormData)"
            class="form"
            #registrationForm="ngForm"
          >
            <ng-container *ngIf="showSuccessAlert">
              <div class="alert alert-success alert-customization" role="alert">
                User Registration Successfull
              </div>
            </ng-container>
            <ng-container *ngIf="showDangerAlert">
              <div class="alert alert-danger alert-customization" role="alert">
                {{ error.error.message }}
              </div>
            </ng-container>
            <div class="mb-3">
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text input-label-img">
                    <img
                      src="../../../assets/images/user.png"
                      alt=""
                      class="img-fluid"
                    />
                  </span>
                </div>
                <input
                  type="text"
                  name="username"
                  minlength="5"
                  required
                  [(ngModel)]="registrationFormData.username"
                  class="form-control input"
                  placeholder="Username"
                  #regUsername="ngModel"
                  [class.is-invalid]="
                    regUsername.invalid && regUsername.touched
                  "
                />
              </div>

              <div
                *ngIf="
                  (regUsername.invalid && regUsername.touched) ||
                  regUsername.dirty
                "
              >
                <small
                  *ngIf="regUsername.errors?.['required']"
                  class="text-danger"
                  >Username is required.</small
                >
                <small
                  *ngIf="regUsername.errors?.['minlength']"
                  class="text-danger"
                  >Please provide a valid username.</small
                >
              </div>
            </div>

            <div class="mb-3">
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text input-label-img">
                    <img
                      src="../../../assets/images/person.png"
                      alt=""
                      class="img-fluid"
                    />
                  </span>
                </div>
                <input
                  type="text"
                  name="name"
                  minlength="6"
                  required
                  [(ngModel)]="registrationFormData.name"
                  class="form-control input"
                  placeholder="Full Name"
                  #regName="ngModel"
                  [class.is-invalid]="regName.invalid && regName.touched"
                />
              </div>

              <div
                *ngIf="(regName.invalid && regName.touched) || regName.dirty"
              >
                <small *ngIf="regName.errors?.['required']" class="text-danger"
                  >Full Name is required.</small
                >
                <small *ngIf="regName.errors?.['minlength']" class="text-danger"
                  >Full Name should be at least 6 characters.</small
                >
              </div>
            </div>

            <div class="pb-3">
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text input-label-img">
                    <img
                      src="../../../assets/images/mail.png"
                      alt=""
                      class="img-fluid"
                    />
                  </span>
                </div>
                <input
                  type="email"
                  name="email"
                  required
                  pattern="[a-zA-Z0-9.-_]{1,}@[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{2,}"
                  [(ngModel)]="registrationFormData.email"
                  class="form-control input"
                  placeholder="Email"
                  #regEmail="ngModel"
                  [class.is-invalid]="regEmail.invalid && regEmail.touched"
                />
              </div>

              <div
                *ngIf="(regEmail.invalid && regEmail.touched) || regEmail.dirty"
              >
                <small *ngIf="regEmail.errors?.['required']" class="text-danger"
                  >Email is required.</small
                >
                <small *ngIf="regEmail.errors?.['pattern']" class="text-danger"
                  >Please provide a valid Email address.</small
                >
              </div>
            </div>

            <div class="mb-3">
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text input-label-img">
                    <img
                      src="../../../assets//images/lock.png"
                      alt="lock"
                      class="img-fluid"
                    />
                  </span>
                </div>
                <input
                  type="password"
                  name="password"
                  [(ngModel)]="registrationFormData.password"
                  class="form-control input"
                  placeholder="Password"
                  required
                  minlength="8"
                  maxlength="20"
                  #regPassword="ngModel"
                  [class.is-invalid]="
                    regPassword.invalid && regPassword.touched
                  "
                  (keyup)="
                    checkPasswords(regPassword.value, regConfirmPassword.value)
                  "
                />
              </div>
              <div
                *ngIf="
                  (regPassword.invalid && regPassword.touched) ||
                  regPassword.dirty
                "
              >
                <small
                  *ngIf="regPassword.errors?.['required']"
                  class="text-danger"
                  >Password is required.</small
                >
                <small
                  *ngIf="regPassword.errors?.['minlength']"
                  class="text-danger"
                  >Password must be at least 8 characters.</small
                >
              </div>
            </div>

            <div class="mb-3">
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text input-label-img">
                    <img
                      src="../../../assets//images/lock.png"
                      alt="lock"
                      class="img-fluid"
                    />
                  </span>
                </div>
                <input
                  type="password"
                  name="confirmPassword"
                  [(ngModel)]="registrationFormData.confirmPassword"
                  class="form-control input"
                  placeholder="Confirm Password"
                  required
                  #regConfirmPassword="ngModel"
                  [class.is-invalid]="
                    regConfirmPassword.invalid && regConfirmPassword.touched
                  "
                  (keyup)="
                    checkPasswords(regPassword.value, regConfirmPassword.value)
                  "
                />
              </div>
              <div
                *ngIf="
                  (regConfirmPassword.invalid && regConfirmPassword.touched) ||
                  regConfirmPassword.dirty
                "
              >
                <small
                  *ngIf="regConfirmPassword.errors?.['required'] && isConfirmPasswordEmpty"
                  class="text-danger"
                  >Confirm Password is required.</small
                >
                <small
                  *ngIf="!passwordsMatching && !isConfirmPasswordEmpty"
                  class="text-danger"
                  >Confirm Password does not match.</small
                >
              </div>
            </div>

            <div class="mb-3">
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text input-label-img">
                    <img
                      src="../../../assets/images/telephone.png"
                      alt=""
                      class="img-fluid"
                    />
                  </span>
                </div>
                <input
                  type="tel"
                  name="mobile"
                  [(ngModel)]="registrationFormData.contact_no"
                  class="form-control input"
                  placeholder="Mobile Number"
                  #regMobileNo="ngModel"
                  required
                  minlength="11"
                  maxlength="12"
                  pattern="^[0-9]*$"
                  [class.is-invalid]="
                    regMobileNo.invalid && regMobileNo.touched
                  "
                />
              </div>
              <div
                *ngIf="
                  (regMobileNo.invalid && regMobileNo.touched) ||
                  regMobileNo.dirty
                "
              >
                <small
                  *ngIf="regMobileNo.errors?.['required'] "
                  class="text-danger"
                  >Mobile Number is required.</small
                >
                <small
                  *ngIf="regMobileNo.errors?.['pattern']"
                  class="text-danger"
                  >Only numbers are allow.</small
                >
              </div>
            </div>

            <div class="d-flex mb-3">
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="radio"
                  name="gender"
                  id="male"
                  checked
                  [(ngModel)]="registrationFormData.gender"
                  [value]="male"
                />
                <label class="form-check-label radio-input-label" for="male">
                  Male
                </label>
              </div>
              <div class="form-check mx-4">
                <input
                  class="form-check-input"
                  type="radio"
                  name="gender"
                  id="female"
                  [(ngModel)]="registrationFormData.gender"
                  [value]="female"
                />
                <label class="form-check-label radio-input-label" for="female">
                  Female
                </label>
              </div>
            </div>

            <input
              type="submit"
              value="Sign Up"
              class="input form-control"
              [disabled]="registrationForm.form.invalid"
              [ngClass]="
                registrationForm.form.invalid
                  ? 'cursor-disable'
                  : 'cursor-pointer'
              "
            />

            <p class="py-3 sign-up-link">
              Have Account? <a routerLink="/login">Sign In</a>
            </p>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
