<div class="courses-container">
  <div class="header d-flex-center">
    <div class="header-title">
      <h1 class="title">LEARN FROM ANYWHERE</h1>
      <p class="description-text">
        Technology is bringing a massive wave of evolution for learning things
        in different ways.
      </p>
    </div>
  </div>

  <div class="container">
    <div class="row d-flex-center">
      <div class="col-md-6">
        <div class="search-container">
          <div class="input-group mt-5">
            <div class="input-group">
              <input
                type="text"
                class="form-control input"
                placeholder="Search Courses..."
                aria-label="Username"
                aria-describedby="basic-addon1"
                [(ngModel)]="searchCourseData.courseName"
              />
              <button
                (click)="searchCourse()"
                class="input-group-text search-btn button-green"
                id="basic-addon1"
                type="submit"
                data-bs-dismiss="modal"
              >
                SEARCH
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <h4 class="d-flex-center pt-3 my-3 all-courses-title">
        Browse Our Top Course
      </h4>
      <ng-container *ngFor="let course of allCourses">
        <div class="col-lg-4 col-md-6 col-sm-12 my-4">
          <div class="single-course" routerLink="{{ course.course_url }}">
            <img
              [src]="course.thumbnail_url"
              alt="node"
              class="course-thumbnail img-fluid"
            />
            <div class="course-description">
              <h5>{{ course.title }}</h5>
              <p>
                {{
                  course.description.length > 50
                    ? (course.description | slice : 0 : 50) + "..."
                    : course.description
                }}
              </p>

              <div class="price-and-others d-flex-between py-3 ">
                <p class="price">৳ {{ course.price }}</p>
                <button class="course-view">View Course</button>
              </div>
            </div>
          </div>
        </div>
      </ng-container>
      <nav aria-label="Page navigation example mb-3">
        <ul class="pagination">
          <li class="page-item pagination-item">
            <a class="page-link" (click)="paginateToPrevious(currentNumber - 1)"
              >Previous</a
            >
          </li>
          <ng-container
            *ngFor="let in of counter(totalPaginationNumber); let i = index"
          >
            <li class="page-item">
              <a
                class="page-link pagination-item"
                (click)="getCourseByPagination(i)"
                >{{ i }}</a
              >
            </li>
          </ng-container>
          <li class="page-item pagination-item">
            <a class="page-link" (click)="paginateToNext(currentNumber + 1)"
              >Next</a
            >
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>
