@import "../../../app.component.scss";

.grade-table {
  .table-header {
    background-color: $custom-blue;
    color: $white;
  }
  tr {
    &:last-child {
      border-bottom: transparent;
    }
  }
  .course-title {
    width: 85%;
  }
  th,
  td {
    padding: 15px 25px;
  }
  th:first-child {
    border-radius: 4px 0 0 4px;
  }
  th:last-child {
    border-radius: 0 4px 4px 0;
  }
  td {
    font-size: 16px;
    color: $gray;
  }
}
