<div class="create-course-conatiner">
  <div class="header d-flex-center">
    <div class="container">
      <div class="header-title">
        <h1 class="title">create a new course</h1>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-9 mx-auto py-5">
       <ng-container *ngIf="success">
        <div class="alert alert-success" role="alert">
          Course Created Successfully!
        </div>
       </ng-container>
       <ng-container *ngIf="error">
        <div class="alert alert-danger" role="alert">
          An Error Occurred While Creating the Course!
        </div>
       </ng-container>
        <form (submit)="createCourse()">
          <div class="row">
            <div class="col-md-6 my-2">
              <div>
                <label for="">Course Title</label>
                <input
                  type="text"
                  class="form-control input"
                  name="title"
                  [(ngModel)]="createCourseData.title"
                  #title="ngModel"
                />
              </div>
            </div>
            <div class="col-md-6 my-2">
              <label for="">Course Price</label>
              <input
                type="number"
                class="form-control input"
                name="price"
                [(ngModel)]="createCourseData.price"
                #price="ngModel"
              />
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 my-2">
              <div>
                <label for="">Course Thumbnail</label>
                <input
                  type="file"
                  class="form-control input"
                  name="thumbnail"
                  #thumbnail
                  (change)="processFile(thumbnail)"
                />
              </div>
            </div>
            <div class="col-md-6 my-2">
              <label for="">Course Category</label>
              <select
                class="form-select input"
                (change)="selectCategory($event)"
                name="course_category_id"
                [(ngModel)]="createCourseData.course_category_id"
                #course_category_id="ngModel"
              >
                <option selected disabled>Open this select menu</option>
                <option value="1">Front-End Development</option>
                <option value="2">Back-End Development</option>
                <option value="3">Mobile Application</option>
              </select>
            </div>

            <div class="col-md-6 my-2">
              <label for="">Sub Category</label>
              <select
                class="form-select input"
                name="course_sub_category_id"
                [(ngModel)]="createCourseData.course_sub_category_id"
                #course_sub_category_id="ngModel"
                (change)="selectSubCategory($event)"
              >
                <option selected disabled>Open this select menu</option>
                <option
                  *ngFor="let subcategory of filterSubCategory"
                  [value]="subcategory.course_sub_category_id"
                >
                  {{ subcategory.name }}
                </option>
              </select>
            </div>

            <div class="col-md-6 my-2">
              <label for="">Course Description</label>
              <textarea
                class="form-control input"
                rows="4"
                name="description"
                [(ngModel)]="createCourseData.description"
                #description="ngModel"
              ></textarea>
            </div>
            <div class="my-2">
              <input
                type="submit"
                class="button bg-blue"
                value="Create Course"
              />
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
