<nav class="navbar navbar-expand-lg navbar-light desktop-nav sticky-top">
  <div class="container-fluid">
    <div class="navbar-brand"><a href="#" class="logo">OZ ACADEMY</a></div>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item nav-item-padding">
          <a class="nav-link navigation-links" aria-current="page" href="#"
            >HOME</a
          >
        </li>
        <li
          class="nav-item nav-item-padding nav-custom-hover-effect margin-right-1"
        >
          <a class="nav-link navigation-links" href="#">
            COURSE <i class="arrow down"></i
          ></a>
          <div class="custom-dropdown-lists">
            <li><a href="#">Sponsorship Program</a></li>
            <li><a href="#">Basic Programming</a></li>
            <li><a href="#">Offline Course</a></li>
            <li><a href="#">Collaborative Course</a></li>
            <li><a href="#">A Level & O Level</a></li>
          </div>
        </li>
        <li class="nav-item nav-item-padding">
          <a class="nav-link navigation-links" href="#">WORKSHOP</a>
        </li>
        <li class="nav-item nav-item-padding">
          <a class="nav-link navigation-links" href="#">BLOG</a>
        </li>
        <li
          class="nav-item nav-item-padding nav-custom-hover-effect margin-right-1"
        >
          <a class="nav-link navigation-links" href="#"
            >SEIP COURSE <i class="arrow down"></i
          ></a>
          <div class="custom-dropdown-lists">
            <li><a href="#">Sponsorship Program</a></li>
            <li><a href="#">Basic Programming</a></li>
            <li><a href="#">Offline Course</a></li>
            <li><a href="#">Collaborative Course</a></li>
            <li><a href="#">A Level & O Level</a></li>
          </div>
        </li>
        <li class="nav-item nav-item-padding">
          <a class="nav-link navigation-links" href="#">TSL HACKATHON</a>
        </li>
      </ul>
      <div class="d-flex align-items-center">
        <button class="navbar-icons" (click)="showNotifications()">
          <img
            src="../../../../assets/images/bell.png"
            class="img-fluid"
            alt="notification-bell"
          />
          <div
            [ngClass]="
              showNotification
                ? 'open-dropdown && notification-dropdown-align'
                : 'close-dropdown'
            "
          >
            <app-notification></app-notification>
          </div>
        </button>
        <button class="navbar-icons" (click)="showAllMessages()">
          <img
            src="../../../../assets/images/chat.png"
            class="img-fluid"
            alt="chat"
          />
        </button>

        <div [ngClass]="showMessages ? 'open-chat' : 'close-chat'">
          <app-chat (closeChat)="chatClose($event)"></app-chat>
        </div>

        <button class="navbar-icons" (click)="settingsDropDownToggle()">
          <img
            src="../../../../assets/images/settings.png"
            alt="settings"
            class="img-fluid"
          />
          <div
            [ngClass]="
              settingDropDown
                ? 'open-dropdown && nav-setting-drop-right'
                : 'close-dropdown'
            "
          >
            <li routerLink="/dashboard"><a>Dashboard</a></li>
            <li><a href="">Site Home</a></li>
            <li><a href="">Calender</a></li>
            <li><a href="">Private Files</a></li>
            <li><a href="">ERP-B1</a></li>
            <li><a href="">AHOWSP-B1</a></li>
          </div>
        </button>
        <button class="profile-icons" (click)="profileDropDownToggle()">
          <img
            src="../../../../assets/images/man.png"
            alt="profile avater"
            class="img-fluid"
          />
          <div
            [ngClass]="
              openProfleDropDown
                ? 'open-dropdown && nav-profile-drop-right'
                : 'close-dropdown'
            "
          >
            <li routerLink="/dashboard"><a>Dashboard</a></li>
            <li><a href="">Profile</a></li>
            <li><a href="">Grades</a></li>
            <li><a href="">Messages</a></li>
            <li><a href="">Preferances</a></li>
            <li routerLink="/login"><a href="">Logout</a></li>
          </div>
        </button>
      </div>
    </div>
  </div>
</nav>

<nav class="mobile-nav">
  <div class="d-flex justify-content-between align-items-center">
    <div class="navbar-brand"><a href="#" class="logo">OZ ACADEMY</a></div>
    <button
      class="humberger-btn"
      type="button"
      data-bs-toggle="offcanvas"
      data-bs-target="#offcanvasScrolling"
      aria-controls="offcanvasScrolling"
    >
      <img
        src="../../../../assets/images/hamburger.png"
        alt=""
        class="img-fluid"
      />
    </button>
  </div>
  <div
    class="offcanvas offcanvas-start bg-dark text-light"
    data-bs-scroll="false"
    data-bs-backdrop="false"
    tabindex="-1"
    id="offcanvasScrolling"
    aria-labelledby="offcanvasScrollingLabel"
  >
    <div class="offcanvas-header">
      <div class="offcanvas-title" id="offcanvasScrollingLabel">
        <div class="logo text-light">OZ ACADEMY</div>
      </div>
      <button
        type="button"
        class="btn-close text-reset bg-light"
        data-bs-dismiss="offcanvas"
        aria-label="Close"
      ></button>
    </div>
    <div class="offcanvas-body">
      <div>
        <li class="nav-item nav-item-d-block">
          <a routerLink="login" class="nav-link" data-bs-dismiss="offcanvas"
            >HOME</a
          >
        </li>
        <li class="nav-item nav-item-d-block">
          <a routerLink="login" class="nav-link" data-bs-dismiss="offcanvas"
            >COURSE</a
          >
        </li>
        <li class="nav-item nav-item-d-block">
          <a routerLink="login" class="nav-link" data-bs-dismiss="offcanvas"
            >WORKSHOP</a
          >
        </li>
        <li class="nav-item nav-item-d-block">
          <a routerLink="login" class="nav-link" data-bs-dismiss="offcanvas"
            >BLOG</a
          >
          <a routerLink="login" class="nav-link" data-bs-dismiss="offcanvas"
            >TSL HACKATHON</a
          >
        </li>
        <li class="nav-item nav-item-d-block">
          <a
            routerLink="login"
            class="nav-link d-flex justify-content-between align-items-center"
          >
            <div>
              <span>Md. Iqbal Ahmed</span>
            </div>
            <div class="profile-btn profile-icons">
              <img
                src="../../../../assets/images/man.png"
                alt="profile avater"
                class="img-fluid"
              />
            </div>
          </a>
        </li>
      </div>
    </div>
  </div>
</nav>
