<nav class="navbar navbar-expand-lg navbar-light desktop-nav sticky-top">
  <div class="container-fluid">
    <div class="navbar-brand"><a href="#" class="logo">OZ Bangla</a></div>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item nav-item-padding">
          <a class="nav-link navigation-links" aria-current="page" href="#"
            >HOME</a
          >
        </li>
        <li
          class="nav-item nav-item-padding nav-custom-hover-effect margin-right-1"
        >
          <a class="nav-link navigation-links" href="#">
            COURSE <i class="arrow down"></i
          ></a>
          <div class="custom-dropdown-lists">
            <li><a href="#">Sponsorship Program</a></li>
            <li><a href="#">Basic Programming</a></li>
            <li><a href="#">Offline Course</a></li>
            <li><a href="#">Collaborative Course</a></li>
            <li><a href="#">A Level & O Level</a></li>
          </div>
        </li>
        <li class="nav-item nav-item-padding">
          <a class="nav-link navigation-links" href="#">BLOG</a>
        </li>
        <li
          class="nav-item nav-item-padding nav-custom-hover-effect margin-right-1"
        >
          <a class="nav-link navigation-links" href="#"
            >SEIP Course<i class="arrow down"></i
          ></a>
          <div class="custom-dropdown-lists">
            <li><a href="#">Sponsorship Program</a></li>
            <li><a href="#">Basic Programming</a></li>
            <li><a href="#">Offline Course</a></li>
            <li><a href="#">Collaborative Course</a></li>
            <li routerLink="/courses"><a>All Courses</a></li>
          </div>
        </li>
        <li class="nav-item nav-item-padding">
          <a class="nav-link navigation-links" href="#">SEIP EXAMS</a>
        </li>
      </ul>
      <div class="d-flex align-items-center" *ngIf="isAuthenticated()">
        <button class="navbar-icons" (click)="openVerticallyCentered(content)">
          <img
            src="../../../../assets/images/search.png"
            alt="search"
            class="img-fluid"
          />
        </button>
        <button
          class="navbar-icons"
          (click)="showNotifications()"
          (clickOutside)="clickNotificationButtonOutside($event)"
        >
          <img
            src="../../../../assets/images/bell.png"
            class="img-fluid"
            alt="notification-bell"
          />
          <div
            [ngClass]="
              showNotification
                ? 'open-dropdown && notification-dropdown-align'
                : 'close-dropdown'
            "
          >
            <app-notification></app-notification>
          </div>
        </button>
        <button class="navbar-icons" (click)="showAllMessages()">
          <img
            src="../../../../assets/images/chat.png"
            class="img-fluid"
            alt="chat"
          />
        </button>

        <div [ngClass]="showMessages ? 'open-chat' : 'close-chat'">
          <app-chat (closeChat)="chatClose($event)"></app-chat>
        </div>

        <button
          class="navbar-icons"
          (click)="settingsDropDownToggle()"
          (clickOutside)="clickSettingsButtonOutside($event)"
        >
          <img
            src="../../../../assets/images/settings.png"
            alt="settings"
            class="img-fluid"
          />
          <div
            [ngClass]="
              settingDropDown
                ? 'open-dropdown && nav-setting-drop-right'
                : 'close-dropdown'
            "
          >
            <li routerLink="/dashboard"><a>Dashboard</a></li>
            <li><a href="">Site Home</a></li>
            <li><a href="">Calender</a></li>
            <li><a>Private Files</a></li>
            <li><a href="">ERP-B1</a></li>
            <li><a href="">AHOWSP-B1</a></li>
          </div>
        </button>
        <button
          class="profile-icons"
          (click)="profileDropDownToggle()"
          (clickOutside)="clickProfileButtonOutside($event)"
        >
          <img
            src="../../../../assets/images/man.png"
            alt="profile avater"
            class="img-fluid"
          />
          <div
            [ngClass]="
              openProfleDropDown
                ? 'open-dropdown && nav-profile-drop-right'
                : 'close-dropdown'
            "
          >
            <li routerLink="/profile">
              <img
                src="../../../../assets/images/man.png"
                alt="profile avater"
                class="img-fluid profile-img"
              />
              <span class="active-user">{{ activeUser.name }}</span>
            </li>
            <li routerLink="/dashboard"><a>Dashboard</a></li>
            <li routerLink="/profile"><a>Profile</a></li>
            <li routerLink="/grade"><a>Grades</a></li>
            <li routerLink="/messages"><a>Messages</a></li>
            <li routerLink="/preferences"><a>Preferances</a></li>
            <li (click)="logout()"><a>Logout</a></li>
          </div>
        </button>
      </div>
      <div *ngIf="!isAuthenticated()">
        <a routerLink="/login" class="navigation-links"> LOGIN</a>
        <span class="mx-1">/</span>
        <a routerLink="/registration" class="navigation-links"> SIGN UP</a>
      </div>
    </div>
  </div>
</nav>

<nav class="mobile-nav">
  <div class="d-flex justify-content-between align-items-center">
    <div class="navbar-brand"><a href="#" class="logo">OZ Bangla</a></div>
    <button
      class="humberger-btn"
      type="button"
      data-bs-toggle="offcanvas"
      data-bs-target="#offcanvasScrolling"
      aria-controls="offcanvasScrolling"
    >
      <img
        src="../../../../assets/images/hamburger.png"
        alt=""
        class="img-fluid"
      />
    </button>
  </div>
  <div
    class="offcanvas offcanvas-start bg-dark text-light"
    data-bs-scroll="false"
    data-bs-backdrop="false"
    tabindex="-1"
    id="offcanvasScrolling"
    aria-labelledby="offcanvasScrollingLabel"
  >
    <div class="offcanvas-header">
      <div class="offcanvas-title" id="offcanvasScrollingLabel">
        <div class="logo text-light">OZ Bangla</div>
      </div>
      <button
        type="button"
        class="btn-close text-reset bg-light"
        data-bs-dismiss="offcanvas"
        aria-label="Close"
      ></button>
    </div>
    <div class="offcanvas-body">
      <div class="mobile-dropdown">
        <div class="input-group my-2">
          <div class="input-group">
            <input
              type="text"
              class="form-control input bg-dark text-light"
              placeholder="Search Courses..."
              aria-label="Username"
              aria-describedby="basic-addon1"
            />
            <button
              type="submit"
              class="input-group-text"
              id="basic-addon1"
              data-bs-dismiss="offcanvas"
            >
              <img
                src="../../../../assets/images/search-icon.png"
                alt="search-icon"
                class="img-fluid icon"
              />
            </button>
          </div>
        </div>
        <li class="nav-item nav-item-d-block">
          <a routerLink="login" class="nav-link" data-bs-dismiss="offcanvas"
            >HOME</a
          >
        </li>
        <li
          class="nav-item nav-item-d-block slider-relative"
          (click)="showCourses()"
        >
          <a routerLink="login" class="nav-link"
            >COURSE
            <i
              class="mobile-nav-arrow"
              [ngClass]="showMoreCourse ? 'arrow-down' : 'arrow-right'"
            ></i
          ></a>
        </li>
        <ng-container *ngIf="showMoreCourse">
          <li class="mobile-dropdown-list">
            <a href="#">Sponsorship Program</a>
          </li>
          <li class="mobile-dropdown-list">
            <a href="#">Basic Programming</a>
          </li>
          <li class="mobile-dropdown-list"><a href="#">Offline Course</a></li>
          <li class="mobile-dropdown-list">
            <a href="#">Collaborative Course</a>
          </li>
          <li class="mobile-dropdown-list">
            <a href="#">A Level & O Level</a>
          </li>
        </ng-container>
        <li class="nav-item nav-item-d-block">
          <a routerLink="login" class="nav-link" data-bs-dismiss="offcanvas"
            >WORKSHOP</a
          >
        </li>
        <li class="nav-item nav-item-d-block">
          <a routerLink="login" class="nav-link" data-bs-dismiss="offcanvas"
            >BLOG</a
          >
        </li>
        <li class="nav-item nav-item-d-block">
          <a routerLink="login" class="nav-link" data-bs-dismiss="offcanvas"
            >TSL HACKATHON</a
          >
        </li>
        <li
          class="nav-item nav-item-d-block slider-relative"
          (click)="showSideBarOptions()"
        >
          <a routerLink="login" class="nav-link"
            >Navigate
            <i
              class="mobile-nav-arrow"
              [ngClass]="showSideBar ? 'arrow-down' : 'arrow-right'"
            ></i>
          </a>
        </li>
        <ng-container *ngIf="showSideBar">
          <li
            class="mobile-dropdown-list"
            routerLink="/dashboard"
            data-bs-dismiss="offcanvas"
          >
            <a href="#">Dashboard</a>
          </li>
          <li class="mobile-dropdown-list"><a href="#">Site Home</a></li>
          <li class="mobile-dropdown-list"><a href="#">Calender</a></li>
          <li class="mobile-dropdown-list"><a href="#">Private Files</a></li>
          <li class="mobile-dropdown-list"><a href="#">My Courses</a></li>
          <li class="mobile-dropdown-list"><a href="#">ERP-B1</a></li>
          <li class="mobile-dropdown-list"><a href="#">AHOWSP-B1</a></li>
        </ng-container>
        <li
          class="nav-item nav-item-d-block slider-relative"
          (click)="showProfileDropDown()"
        >
          <a
            routerLink="login"
            class="nav-link d-flex justify-content-between align-items-center"
          >
            <div>
              <span>Md. Iqbal Ahmed</span>
            </div>
            <div class="profile-btn profile-icons d-flex-center">
              <img
                src="../../../../assets/images/man.png"
                alt="profile avater"
                class="img-fluid img-margin-right"
              />
              <i
                class="mobile-nav-arrow"
                [ngClass]="
                  showProfileDropDownInMobile ? 'arrow-down' : 'arrow-right'
                "
              ></i>
            </div>
          </a>
        </li>
        <ng-container *ngIf="showProfileDropDownInMobile">
          <li
            class="mobile-dropdown-list"
            routerLink="/dashboard"
            data-bs-dismiss="offcanvas"
          >
            <a>Dashboard</a>
          </li>
          <li
            class="mobile-dropdown-list"
            routerLink="/profile"
            data-bs-dismiss="offcanvas"
          >
            <a>Profile</a>
          </li>
          <li
            class="mobile-dropdown-list"
            routerLink="/grade"
            data-bs-dismiss="offcanvas"
          >
            <a>Grades</a>
          </li>
          <li
            class="mobile-dropdown-list"
            routerLink="/messages"
            data-bs-dismiss="offcanvas"
          >
            <a>Messages</a>
          </li>
          <li
            class="mobile-dropdown-list"
            routerLink="/preferences"
            data-bs-dismiss="offcanvas"
          >
            <a>Preferences</a>
          </li>
          <li class="mobile-dropdown-list"><a>Log Out</a></li>
        </ng-container>
      </div>
    </div>
  </div>
</nav>

<ng-template #content let-modal>
  <div class="modal-header">
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    ></button>
  </div>
  <div class="modal-body">
    <div class="input-group my-2">
      <div class="input-group">
        <input
          type="text"
          class="form-control input"
          placeholder="Search Courses..."
          aria-label="Username"
          aria-describedby="basic-addon1"
        />
        <button class="input-group-text search-btn" id="basic-addon1">
          <img
            src="../../../../assets/images/search-icon.png"
            alt="search-icon"
            class="img-fluid icon"
          />
        </button>
      </div>
    </div>
  </div>
  <div class="modal-footer"></div>
</ng-template>
