@import "../../../app.component.scss";
.chat-btn {
  padding: 0.375rem 0.85rem;
  border-radius: 3px;
  background-color: transparent;
  border: 1px solid $custom-cyan;
  color: $custom-cyan;
  transition: 0.3s;
  &:hover {
    background-color: $custom-cyan;
    border: 1px solid transparent;
    color: $white;
    transition: 0.3s;
  }
}
.mar-left {
  margin-left: 10px;
}
.search-btn {
  border-radius: 4px;
  padding: 0.65rem 0.5rem;
}

.icon {
  width: 20px;
}

.accordion-container {
  height: 59vh;
  overflow: auto;
}

.see-all-btn {
  .bg-red {
    background-color: $custom-pink;
    color: $white;
    &:hover {
      background-color: transparent;
      border: 1px solid $custom-pink;
      color: $custom-pink;
    }
  }
}
