@import "../../../app.component.scss";

.courses-container {
  .course-card {
    border-radius: 5px;
    box-shadow: 0 0 5px $light-gray;
    .course-lists-header {
      border-bottom: 0.1px solid #eeeded;
      h6 {
        font-weight: 600;
      }
    }
    .course-lists-body {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      border-bottom: 0.1px solid #eeeded;
      &:last-child {
        border-bottom: 0;
      }
      .image-container {
        position: relative;
        flex: 1;
        .course-img {
          min-width: 200px;
          min-height: 150px;
          border-radius: 5px;
          display: block;
        }
        .overlay-content {
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          border-radius: 5px;
          background-color: rgba(0, 0, 0, 0.5);
          overflow: hidden;
          min-width: 200px;
          height: 100%;
          transform: scale(0);
          transition: 0.3s all ease;
        }
        .inner-text {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          .overlay-button {
            border: 2px solid $white;
            outline: 0;
            padding: 5px 32px;
            border-radius: 2rem;
            background-color: transparent;
            color: $white;
          }
        }
        &:hover {
          .course-img {
            opacity: 0.7;
          }
          .overlay-content {
            transform: scale(1);
          }
        }
      }
      .course-content {
        flex: 1;
        margin: 10px 15px;
        .category {
          color: $gray;
          text-transform: capitalize;
        }
        .title {
          text-align: left;
          font-size: 18px;
          text-transform: capitalize;
          color: $black;
        }
        .status {
          color: $white;
          font-size: 13px;
          padding: 2px 5px;
          border-radius: 3px;
          text-transform: capitalize;
        }
        .status-success {
          background-color: $custom-green;
        }
        .status-danger {
          background-color: $custom-pink;
        }
        .progress-color {
          background-color: $custom-green;
        }
        .complete-ratio {
          font-size: 13px;
          color: $gray;
        }
      }
    }
  }
}
