@import "../../../app.component.scss";
.footer-container,
.social-media-container,
.copyright-container {
  background-color: #151515;
  color: $accordion-bg;
}
.footer-title {
  margin: 20px 0;
}
.popular-course {
  a {
    display: block;
    font-size: 15px;
    margin-bottom: 3px;
  }
}
.footer-content {
  font-size: 15px;
  color: $gray;
}

.social-media-container,
.copyright-container {
  border-top: 0.1px solid rgb(68, 68, 68);
  .footer-links {
    a {
      color: $gray;
      padding: 8px;
      font-size: 14px;
      border-right: 0.1px solid rgb(68, 68, 68);
      &:first-child {
        padding-left: 0;
      }
      &:last-child {
        border-right: 0;
      }
    }
  }
  .footer-social-img {
    width: 20px;
    margin: 0 10px;
    &:first-child {
      margin-left: 0;
    }
  }
}

.copyright-text {
  font-size: 14px;
  color: $gray;
}
