<div class="footer-container p-5">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h5 class="footer-title">CONTACT</h5>
        <div>
          <p class="footer-content">Email</p>
          <p class="footer-content mb-3">example@gmail.com</p>

          <p class="footer-content">Phone</p>
          <p class="footer-content">+1823743414</p>
        </div>
      </div>
      <div class="col-md-5">
        <h5 class="footer-title">OUR POPULAR COURSES</h5>
        <div class="popular-course">
          <a href="">Java</a>
          <a href="">Node.js</a>
          <a href="">React</a>
          <a href="">PHP</a>
          <a href="">Larabel</a>
        </div>
      </div>
      <div class="col-md-3">
        <h5 class="footer-title">TRAINING SUPPORT</h5>
        <p class="footer-content">
          ট্রেইনিং সংক্রান্ত যে কোন তথ্যের জন্য কল করুন
        </p>
        <p class="footer-content">+1823345298</p>
        <p class="footer-content">+1955773414</p>
      </div>
    </div>
  </div>
</div>

<div class="social-media-container px-5 py-4">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h5>OZ Bangla</h5>
      </div>
      <div class="col-md-5">
        <div class="footer-links">
          <a href="">Sponsorship Program</a>
          <a href="">Offline Course</a>
          <a href="">Collaborative Course</a>
        </div>
      </div>
      <div class="col-md-3">
        <img
          src="../../../../assets/images/facebook.png"
          alt="facebook"
          class="img-fluid footer-social-img"
        />
        <img
          src="../../../../assets/images/youtube.png"
          alt="youtube"
          class="img-fluid footer-social-img"
        />
        <img
          src="../../../../assets/images/instagram.png"
          alt="instagram"
          class="img-fluid footer-social-img"
        />
        <img
          src="../../../../assets/images/linkedin.png"
          alt="linkedin"
          class="img-fluid footer-social-img"
        />
      </div>
    </div>
  </div>
</div>

<div class="d-flex-center py-4 copyright-container">
  <p class="copyright-text">Copyright © 2023 by OZ Bangla All Rights Reserved.</p>
</div>
